{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": ["@loadable/babel-plugin", "@babel/plugin-syntax-dynamic-import"],
  "env": {
    "production": {
      "presets": [
        "@emotion/babel-preset-css-prop"
      ]
    },
    "development": {
      "presets": [
        "@emotion/babel-preset-css-prop",
        {
          "sourceMap": true
        }
      ]
    }
  }
}